modules/ROOT/pages/release-notes.adoc merge=ours
modules/ROOT/pages/index.adoc merge=ours
modules/ROOT/pages/ui-designer-dependencies.adoc merge=ours
modules/ROOT/pages/bonita-data-repositories-dependencies.adoc merge=ours
modules/ROOT/pages/bonita-engine-dependencies.adoc merge=ours
