body {
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 1.42857143;
    font-size: 14px;
    color: #333;
  a {
    color: #035;
    &:hover {
      color: #D03;
    }
  }
}

.list-group {
  max-width: 450px;
  padding-top: 20px;
  .list-group-item {
    &.toc-h2, &.toc-h3 {
      padding: 3px 15px;
    }
  }
  .toc-h3 > a {
    margin-left: 15px;
  }
}
.content--noPaddingRight {
  padding-right: 0px;
}
.panel {
   ul li {
    border-bottom: solid 1px #ddd;
    .leaf {
      list-style: none;
      list-style-image: none;
    }
  }
  .panel-body {
    padding: 0;
  }
  .panel-heading {
    font-size: 24px;
  }
  .nav>li>a {
    padding: 10px 15px;
    &:hover {
      text-decoration: none;
      background-color: #eee;
    }
  }
}
