<h3>Search results for <i>{{ searchCtrl.searchRequest }}</i></h3>
<div class="documentation-search">
  <div class="media" ng-repeat="result in searchCtrl.results">
    <div class="media-body">
      <h4 class="media-heading"><a ui-sref="main.content({page: result.page, version: currentVersion.name})" ui-sref-opts="{ reload: 'main.content', inherit: true, notify: true }" href="">{{ result.title }}</a></h4>
      <div ng-bind-html="result.summary"></div> 
      <span class="documentationSearch-path">{{result.path.join(' &gt; ')}}</span>
    </div>
  </div>
  <uib-pagination total-items="searchCtrl.totalResults" ng-model="searchCtrl.currentPage" ng-change="searchCtrl.search()"></uib-pagination>
</div>
