<div class="documentation-menu">
  <nav class="navbar navbar-default">
    <div id="top-links" class="container-fluid">
        <div class="row">
           <ul class="inline pull-right">
               <li><a href="http://www.bonitasoft.com/resources/blog" style="color: white">Blog</a></li>
               <li><a href="http://community.bonitasoft.com/" style="color: white">Community</a></li>
               <li><a href="http://customer.bonitasoft.com/" style="color: white">Customer portal</a></li>
               <li><a href="http://partner.bonitasoft.com/home" style="color: white">Partners</a></li>
           </ul>
        </div>
    </div>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Bonitasoft" src="http://documentation.bonitasoft.com/sites/docs.bonitasoft.com/files/../../../sites/docs.bonitasoft.com/themes/bonita_doc3/images/logo_white.png">
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li ng-class="{active: version.name === headerCtrl.selectedVersion.name}" ng-repeat="version in headerCtrl.supportedVersionList">
          <a class="version" ui-sref="main.content({version: version.name})" ng-if="version.state">{{version.name}}</a>
          <a ng-click="headerCtrl.goToFormerDocumentationSite(version.url)" href=""class="version" ng-if="version.url">{{version.name}}</a>
        </li>
        <li class="dropdown" uib-dropdown>
        <a class="version" href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">Older versions <span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li role="menuitem" ng-repeat="version in headerCtrl.unsupportedVersionList"><a ng-click="headerCtrl.goToFormerDocumentationSite(version.url)" href="">{{ version.name }}</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search" ng-submit="headerCtrl.search(headerCtrl.searchRequest)"> 
         <div class="input-group"> 
           <input type="text" class="form-control" ng-model="headerCtrl.searchRequest" placeholder="Search"> 
           <span class="input-group-btn">
             <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
           </span>
         </div> 
      </form> 
    </div>
  </nav>
</div>
