<div class="documentation-navigation">
  <h2>Bonita BPM {{ navCtrl.version }}</h2>
  <div ng-repeat="node in navCtrl.taxonomy">
    <ng-include src="'navigation/item.html'"></ng-include>
  </div>
</div>
<script type="text/ng-template" id="navigation/item.html">
  <div ng-if="!node.children || !node.children.length" ng-class="{'text-danger': navCtrl.isPageCurrentlyDisplayed(node.href)}">
    <span class="glyphicon glyphicon-tag"></span>
    <a href="" ng-click="navCtrl.goTo(node.href)">{{ node.name }}</a>
  </div>
  <div ng-if="node.children && node.children.length" ng-click="node.isExpanded=!node.isExpanded">
    <span class="glyphicon" ng-class="{'glyphicon-triangle-right': !node.isExpanded, 'glyphicon-triangle-bottom': node.isExpanded}"></span>
    <a href="">{{ node.name }}</a>
  </div>
  <div class="tree-node" uib-collapse="!node.isExpanded">
    <div ng-repeat="node in node.children">
      <ng-include src="'navigation/item.html'"></ng-include>
    </div>
  </div>
</script>
