<div class="documentation-navigation">
  <h2>Bonita BPM {{ navCtrl.version }}</h2>
  <div ng-repeat="node in navCtrl.taxonomy">
    <ng-include src="'navigation/item.html'"></ng-include>
  </div>
</div>
<script type="text/ng-template" id="navigation/item.html">
  <div ng-click="node.isExpanded=!node.isExpanded">
    <span ng-if="node.children && node.children.length" class="glyphicon" 
      ng-class="{'glyphicon-triangle-right': !node.isExpanded, 'glyphicon-triangle-bottom': node.isExpanded}"></span>
    <span ng-if="!node.children || !node.children.length" class="glyphicon glyphicon-tag"></span>
    <a href="">{{ node.name }}</a>
  </div>
  <div class="tree-node" uib-collapse="!node.isExpanded">
    <div ng-repeat="node in node.children">
      <ng-include src="'navigation/item.html'"></ng-include>
    </div>
  </div>
</script>
