.navbar-brand {
  padding: 3px;
}
.navbar-default {
  background-color: #035;

  ul.nav.navbar-nav > li {
    &.active > a.version {
      background-color: #D03;
    }
    > a.version {
      &:hover {
        background-color: #e7e7e7;
      }
      color:white;
      &:hover {
        color:grey;
      }
    }
  }
}
.navbar-form .btn {
    padding: 6px 12px 7px 12px;
}

#top-links {
    background-color: #000;
}

ul.inline {
    margin: 0 50px 0 0;
    padding: 0;
    font-size: 0.9em;
    li {
        display: inline-block;
        margin: 0 0 0 8px;
    }
}
