<div class="documentation-menu">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Bonitasoft" src="http://doc.preprod.bonitasoft.net/sites/docs.bonitasoft.com/themes/bonita_doc3/images/logo_white.png">
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown" uib-dropdown>
        <a id="version" href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">{{ headerCtrl.selectedVersion }} <span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li role="menuitem" ng-click="headerCtrl.selectVersion(version)" ng-repeat="version in headerCtrl.versionList"><a href="">{{ version }}</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="http://doc.preprod.bonitasoft.net/">Older versions</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search" ng-submit="headerCtrl.search(headerCtrl.searchRequest)"> 
         <div class="input-group"> 
           <input type="text" class="form-control" ng-model="headerCtrl.searchRequest" placeholder="Search"> 
           <span class="input-group-btn">
             <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
           </span>
         </div> 
      </form> 
    </div>
  </nav>
</div>
