<?xml encoding="UTF-8"><html lang="en-US"><head><meta charset="UTF-8"><title>Customize the existing living application Layout</title></head><body class="front">
		<div id="content">
	<h1>4.8 Customize the existing living application Layout</h1>
    <p>Has it is explained in the <a href="/layouts.html">layouts</a> documentation, it is possible to customize the existing application layout using the UI designer.</p>
<p>For example, you could:</p>
<ul><li>add a login box</li>
<li>change the menu to add a side menu</li>
<li>add a footer</li>
</ul><p>Prerequisites to customize the existing living application layout:</p>
<ul><li>Basic knowledge of Java script</li>
<li>Basic knowledge of angular</li>
<li>Basic knowledge of bootstrap</li>
<li>Basic knowledge of UI designer</li>
<li>Have an existing Living application to test the modified layout</li>
<li>Use a subscription version of bonita</li>
</ul><p>The following sections show how to import the existing application layout into the UI designer, 
how to modify this layout
and how to apply the customized layout to a living application.
As an example, they show the steps to follows to convert the existing application top menu into a side menu.</p>

<dl><dt><a href="#export_layout">Export the default application layout</a></dt>
<dt><a href="#import_layout">Import the <strong>Default layout</strong> into the UI designer</a></dt>
<dt><a href="#edit_layout">Edit the default layout using UI Designer</a></dt>
<dt><a href="#export_side_menu_layout">Export the <strong>Side menu layout</strong> on your file system</a></dt>
<dt><a href="#import_side_menu_layout">Import the <strong>Side Menu Layout Page</strong> into the portal</a></dt>
<dt><a href="#use_side_menu_layout">Configure your Living application to use the modified layout</a></dt>
</dl><h2 id="export_layout">Export the default application layout</h2>

<ol><li>Open bonita portal, and login with a user having administration profile.</li>
<li>Click on the menu <strong>Resources</strong>.</li>
<li>Select the filter <strong>Layouts</strong>.</li>
<li>Select the element <strong>Default layout</strong>.</li>
<li>Click on <strong>Export</strong> and save this <strong>Default layout</strong> on your filesystem.</li>
</ol><h2 id="import_layout">Import the <strong>Default layout</strong> into the UI designer</h2>

<p>To facilitate the modifications, the <strong>default layout</strong> is built using UI designer. Then you just have to import it into the UI designer to make modifications.</p>

<ol><li>Open the UI designer.</li>
<li>Click on <strong>Import</strong> button.</li>
<li>Retrive the <strong>Default layout</strong> to import.</li>
</ol><h2 id="edit_layout">Edit the default layout using UI Designer</h2>

<p>When you import the <strong>Default layout</strong> into UI designer, you can see that it generates three artefacts:</p>
<ol><li><strong>Living application layout page</strong>.</li>
<li><strong>Living application IFrame</strong> widget to display the application page.</li>
<li><strong>Living application menu</strong> widget to display the application menu.</li>
</ol><p>So we propose here to convert the <strong>Living application menu</strong> into a side menu.</p>
<p>into the UI designer:</p>
<ol><li>click on <strong>Living application menu</strong> widget to open the widget editor.</li>
<li>
replace the template by using the following one:
<code>
<div class="container" style="height:100%">
	<div class="row">
		<div id="leftCol">
			<div class="well"> 
				<ul class="nav nav-stacked" id="sidebar"><li ng-class="{active:ctrl.pageToken===menu.applicationPageId.token}" ng-repeat="menu in ctrl.filterChildren(-1)" dropdown="">
						<a ng-if="!ctrl.isParentMenu(menu)" ng-href="../{{menu.applicationPageId.token}}/" ng-click="ctrl.reload()">{{menu.displayName}}</a>            
						<a ng-if="ctrl.isParentMenu(menu)" dropdown-toggle="">{{menu.displayName}}<span class="caret"></span></a>
						<ul ng-if="ctrl.isParentMenu(menu)" class="dropdown-menu"><li ng-repeat="childMenu in ctrl.filterChildren(menu.id)">
								<a ng-href="../{{childMenu.applicationPageId.token}}/" ng-click="ctrl.reload()">{{childMenu.displayName}}</a>
							</li>
						</ul></li>
				</ul></div>
		</div>  
	</div>  
</div> 
</code>
</li>
<li>click on <strong>Save</strong>.</li>
<li>Return to the UI designer home page.</li>
<li>Click on <strong>Living application layout page</strong>.</li>
<li>Drag and drop the existing <strong>living Application Menu</strong> on the left side of the <strong>living Application IFrame</strong>.</li>
<li>Resize the <strong>living Application Menu</strong> by setting the width to 2.</li>
<li>Resize the <strong>living Application IFrame</strong>  by setting the width to 10.</li>
<li>click on <strong>Save</strong>.</li>
</ol><h2 id="export_side_menu_layout">Export the <strong>Side menu layout</strong> on your filesystem</h2>

<p>Once your modifications are finished, you have to save the new layout using a new name and then export it.</p>
<ol><li>Rename into <strong>SideMenuLayout</strong>.</li>
<li>Click on <strong>save</strong>.</li>
<li>Click on <strong>Export</strong> button.</li>
</ol><h2 id="import_side_menu_layout">Import the <strong>Side Menu Layout</strong> into the portal</h2>

<ol><li>Open bonita portal, and login with a user having administration profile.</li>
<li>Click on the menu <strong>Resources</strong>.</li>
<li>Click on <strong>Add</strong>.</li>
<li>Add the new <strong>Side Menu Layout Page</strong>.</li>
<li>Click <strong>Next</strong>.</li>
<li>Click <strong>Confirm</strong>.</li>
</ol><h2 id="use_side_menu_layout">Configure your Living application to use the modified layout</h2>

<ol><li>Click on the portal menu <strong>Applications</strong>.</li>
<li>Click on the edit action <strong>...</strong> of your living application.</li>
<li>In the <strong>Look &amp; Feel</strong> section, click on the layout link</li>
<li>Select the <strong>Side Menu layout</strong></li>
<li>Click on the validation button <span aria-hidden="true" class="glyphicon glyphicon-ok"></span></li>
<li>In the application details section, click on the URL link to navigate to your living application.</li>
<li>See your new application layout with a side menu.</li>
<li>Feel free to add a lots of new improvements to obtain the layout that fits your needs.</li>
</ol></div>
	</body></html>
