body {
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 1.42857143;
    font-size: 14px;
    color: #333;
}

.list-group {
  max-width: 450px;
  padding-top: 20px;
  .list-group-item {
    &.toc-h2, &.toc-h3 {
      padding: 3px 15px;
    }
  }
  .toc-h3 > a {
    margin-left: 15px;
  }
}
.content--noPaddingRight {
  padding-right: 0px;
}
