name: Build PR preview

on:
  pull_request:
    # To manage 'surge-preview' action teardown, add default event types + closed event type
    types: [opened, synchronize, reopened, closed]
    paths:
      - 'modules/**'
      - 'antora.yml'
      - '.github/workflows/build-pr-preview.yml'
jobs:
  # inspired from https://github.community/t/how-can-i-test-if-secrets-are-available-in-an-action/17911/9
  check_secrets:
    runs-on: ubuntu-20.04
    outputs:
      is_SURGE_TOKEN_set: ${{ steps.secret_availability.outputs.is_SURGE_TOKEN_set }}
    steps:
      - name: Compute secrets availability
        id: secret_availability
        env:
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN_DOC }}
        run: |
          echo "is_SURGE_TOKEN_set: ${{ env.SURGE_TOKEN != '' }}"
          echo "::set-output name=is_SURGE_TOKEN_set::${{ env.SURGE_TOKEN != '' }}"

  build_preview:
    needs: [check_secrets]
    # Only build preview for member of the repository
    if: needs.check_secrets.outputs.is_SURGE_TOKEN_set == 'true'
    runs-on: ubuntu-20.04
    env:
      COMPONENT_NAME: bonita
      # Except if you want to test in progress work that your content depends on, keep it set to master
      DOC_SITE_BRANCH: master
      TOOLKIT_BRANCH: '1.0'
      PR_NUMBER: ${{ github.event.pull_request.number }}
    steps:
      - name: Get documentation site source code
        if: github.event.action != 'closed'
        run: |
          # Remove existing .git directory
          rm -rf *
          git clone --depth 1 --single-branch --branch ${DOC_SITE_BRANCH} https://github.com/bonitasoft/bonitasoft.github.io.git .
      - name: Compute environment variables
        run: |
          echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF#refs/heads/})" >> $GITHUB_ENV
          # the surge-preview action generates https://{{repository.owner}}-{{repository.name}}-{{job.name}}-pr-{{pr.number}}.surge.sh
          repo_owner_and_name=$(echo "${{github.repository}}" | sed 's/\//-/g')
          echo PREVIEW_URL=https://$repo_owner_and_name-"${{github.job}}"-pr-$PR_NUMBER.surge.sh >> $GITHUB_ENV
      - name: Publish preview
        uses: afc163/surge-preview@v1
        with:
          surge_token: ${{ secrets.SURGE_TOKEN_DOC }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dist: build/site
          failOnError: true
          teardown: 'true'
          build: |
            ./build-preview.bash --use-multi-repositories --component-with-branches "${{ env.COMPONENT_NAME }}":"${{ env.BRANCH_NAME }}" --component-with-branches test-toolkit:"${{ env.TOOLKIT_BRANCH }}" --pr "${{ env.PR_NUMBER }}" --site-url "${{ env.PREVIEW_URL }}"
            ls -lh build/site
